@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>    Patient No Wait Web App
    Automate the appointment system by providing following advantages, For Patients: •	Give estimates of waiting lines from travelling time till the appointment turn. •	Provide user based rating and reviews to make the right clinic decision. •	Nearest clinics information along with correct operating hours.</p>
