@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    LakeHead University<br />
    ThunderBay ON Canada<br />
    <abbr title="Phone">P:</abbr>
    +1 (807)-355-3902
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:abavdhan@lakeheadu.ca">abavdhan@lakeheadu.ca</a>
</address>