@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Professor Dr. Vijay Mago.
    LakeHead University<br />
    Department of Computer Science<br />
    Web Health Informatics Project<br />
    ThunderBay ON Canada<br />    
</address>

<address>
    <strong>Support:</strong>Abhijit Dilip Bavdhankar   <a href="mailto:abavdhan@lakeheadu.ca">abavdhan@lakeheadu.ca</a><br/>
    <strong>Support:</strong>Owais Qureshi              <a href="mailto:oquresh1@lakeheadu.ca">oquresh1@lakeheadu.ca</a><br/>
    <abbr title="Phone">Contact Mobile</abbr>+1 (807)-355-3902

</address>