@section Styles
    {
    <style>
        .top-buffer {
            margin-top: 20px;
        }

        img {
            max-width: none;
        }

        #map-canvas {
            width: 100%;
            height: 100%;
            height: calc(100% - 0px);
        }

        <!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
        .infoDiv {
            height: 200px;
            width: 300px;
            -webkit-user-select: none;
            background-color: white;
        }

        /*#txtSearch {
            height: 40px;
            width: 200px;
        }*/

        #listing {
            cursor: pointer;
            overflow-y: auto;
            height: 350px;
        }

        /*#resultsTable > table {
            border-collapse: collapse;
            width: 100%;
        }

        #resultsTable > th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }*/

        /*#resultsTable tr:hover {
            background-color: #81caff;
        }*/

        .pac-container {
            z-index: 1051 !important;
        }

        /* Let's get this party started */
        ::-webkit-scrollbar {
            width: 12px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgb(128, 128, 128);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        }

            ::-webkit-scrollbar-thumb:window-inactive {
                background: rgb(255, 255, 255);
            }
    </style>
    @*<link href="~/Content/tinyscrollbar.css" rel="stylesheet" />*@
}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Patient No Wait Web App</h1>
    </div>
</div>

<div class="row">
    <div class="input-group input-group-lg">
        <span id="sizing-addon1" class="input-group-addon glyphicon glyphicon-search"></span>
        <input id="txtSearch" type="text" class="form-control" placeholder="Search for Clinics" aria-describedby="sizing-addon1">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="listing">
            <table id="resultsTable" class="table table-hover">
                <tbody id="results"></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div id="map_canvas" class="google-map-canvas" style="height:350px;"></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Clinic Details</h4>
            </div>
            <div class="modal-body">
                <div class="tabbable">
                    <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Info</a></li>
                        <li id="liTimeTab"><a href="#tab2" data-toggle="tab">Time</a></li>
                        <li id="liNotificationTab"><a href="#tab3" @*onclick="switch_bubble_tab(this);"*@ data-toggle="tab">Notification</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div id="info-content">
                                <table>
                                    <tr id="iw-url-row" class="iw_table_row">
                                        <td id="iw-icon" class="iw_table_icon"></td>
                                        <td id="iw-url"></td>
                                    </tr>
                                    <tr id="iw-address-row" class="iw_table_row">
                                        <td class="iw_attribute_name">Address:</td>
                                        <td id="iw-address"></td>
                                    </tr>
                                    <tr id="iw-phone-row" class="iw_table_row">
                                        <td class="iw_attribute_name">Telephone:</td>
                                        <td id="iw-phone"></td>
                                    </tr>
                                    <tr id="iw-rating-row" class="iw_table_row">
                                        <td class="iw_attribute_name">Rating:</td>
                                        <td id="iw-rating"></td>
                                    </tr>
                                    <tr id="iw-website-row" class="iw_table_row">
                                        <td class="iw_attribute_name">Website:</td>
                                        <td id="iw-website"></td>
                                    </tr>
                                    <tr id="iw-workinghours-row" class="iw_table_row" style="vertical-align: top;">
                                        <td class="iw_attribute_name">Working Hours:</td>
                                        <td id="iw-workinghours"></td>
                                    </tr>
                                    <tr id="iw-opennow-row" class="iw_table_row">
                                        <td class="iw_attribute_name">Open Now:</td>
                                        <td id="iw-opennow"></td>
                                    </tr>
                                    <tr id="iw-placeid-row" class="iw_table_row" style="display:none;">
                                        <td class="iw_attribute_name">PlaceID:</td>
                                        <td id="iw-placeid"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class="row" id="mapDistance">
                                <div class="col-xs-5">
                                    <label for="txtStartLoc">From</label>
                                    <input id="txtStartLoc" type="text" name="name" class="form-control googleAutoComplete" value="" placeholder="Start Location" />
                                </div>
                                <div class="col-xs-5">
                                    <label for="txtDestination">Destination</label>
                                    <input id="txtDestination" type="text" name="name" class="form-control googleAutoComplete" value="" placeholder="Destination" />
                                </div>
                                <div class="col-xs-2">
                                    <br />
                                    <button id="btnCalculate" type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                            <table id="tblTime" class="table table-condensed" style="display:none;">
                                <thead>
                                    <tr>
                                        <td>Est. Time</td>
                                        <td>Est. Distance</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="tblBody"></tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class="row" id="notification">
                                <div class="col-xs-12">
                                    <table>
                                        <tr id="iw-clinicname-row" class="iw_table_row">
                                            <td class="iw_attribute_name"><b>Clinic Name</b></td>
                                            <td id="iw-clinicname"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="txtPatientNameLoc">Patient Name</label>
                                    <input id="txtPatientNameLoc" type="text" name="name" class="form-control" value="" placeholder="Patient Name" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="txtAgeLoc">Age</label>
                                    <input id="txtAgeLoc" type="text" name="name" class="form-control" min="0" max="200" value="" placeholder="Age" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label for="txtSexLoc">Sex</label>
                                    <input id="txtSexLoc" type="text" name="name" class="form-control" value="" placeholder="Sex" />
                                </div>
                                <div class="col-xs-6">
                                    <label for="txtEmailLoc">Email</label>
                                    <input id="txtEmailLoc" type="text" name="name" class="form-control" value="" placeholder="Email Id" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="txtDoctorNameLoc">Doctor Name</label>
                                    <input id="txtDoctorNameLoc" type="text" name="name" class="form-control" value="" placeholder="Doctor name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="txtAppointementDateTimeLoc">Appointement Date and Time</label>
                                    <input id="txtAppointementDateTimeLoc" type="text" name="name" class="form-control" value="" placeholder="Appointement Date and Time" />
                                </div>
                            </div>
                            <div class="row top-buffer">
                            </div>
                            <div id="emailsuccess" class="alert alert-success" style="display:none;">
                                <strong>Email send successfully.</strong>
                            </div>
                            <div id="emailfailed" class="alert alert-danger" style="display: none;">
                                <strong>Email send to failed.</strong>
                            </div>
                            <div>
                                <button id="btnSendEmail" type="button" class="btn btn-primary">Send Email</button>
                                <button type="button" id="btnDoctors" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "CLINICs")'">Doctors List</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="modal-footer">
            <button type="button" id="btnDoctors" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "CLINICs")'">Doctors List</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>*@
</div>

<div style="display: none">
    <div id="info-content2">
        <table>
            <tr id="iw-url-row" class="iw_table_row">
                <td id="iw-icon" class="iw_table_icon"></td>
                <td id="iw-url"></td>
            </tr>
            <tr id="iw-address-row" class="iw_table_row">
                <td class="iw_attribute_name">Address:</td>
                <td id="iw-address"></td>
            </tr>
            <tr id="iw-phone-row" class="iw_table_row">
                <td class="iw_attribute_name">Telephone:</td>
                <td id="iw-phone"></td>
            </tr>
            <tr id="iw-rating-row" class="iw_table_row">
                <td class="iw_attribute_name">Rating:</td>
                <td id="iw-rating"></td>
            </tr>
            <tr id="iw-website-row" class="iw_table_row">
                <td class="iw_attribute_name">Website:</td>
                <td id="iw-website"></td>
            </tr>
            <tr id="iw-website-row" class="iw_table_row">
                <td class="iw_attribute_name">PlaceID:</td>
                <td id="iw-place_id"></td>
            </tr>
            <tr id="iw-website-row" class="iw_table_row">
                <td class="iw_attribute_name">Location:</td>
                <td id="iw-geometry.location"></td>
            </tr>
        </table>
    </div>
</div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    @*<section class="scripts">*@
        <!-- for google place API (gets all the places of certain type)-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAMnKfxixuEJiW975LHOfJADNu-hFd5A&libraries=places&callback=initMap" async defer></script>
        <!-- for getting user location (lat and long) -->
        <script src="~/Scripts/home/getMyLocation.js"></script>
        <script src="~/Scripts/mapLibs/jquery.geocomplete.min.js"></script>
        <script src="~/Scripts/mapLibs/logger.js"></script>
        <script src="~/Scripts/home/mapPlaces.js" type="text/javascript"></script>
        <script src="~/Scripts/home/index.js" type="text/javascript"></script>
        @*<script src="~/Scripts/jquery.tinyscrollbar.min.js"></script>*@
        <script type="text/javascript">
            var getDistanceURL = '@Url.Action("GetDistanceTime", "Home")';
            var getEmailURL = '@Url.Action("GetEmailTime", "Home")';
        </script>
    @*</section>*@
}